@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Lato&family=Quicksand:wght@400;700&family=Raleway:wght@400;700&family=Righteous&display=swap");

html {
  font-family: "Lato", sans-serif;
  color: #e7f6f2;
  background-color: #2c3333;
}

* {
  padding: 0;
  margin: 0;
}

.hamburger {
  display: none;
}

.logo h1 {
  cursor: pointer;
  transition: 0.5s ease-out;
  animation: animasiMasuk 1s alternate;
}

nav ul {
  animation: animasiMasuk 1s alternate;
}

.logo h1:hover {
  color: white;
  text-shadow: 0 0 10px #fff;
  letter-spacing: 1px;
}

header {
  transition: 0.5s;
  position: sticky;
  background-color: transparent;
  top: 0px;
}

header.sticky {
  transition: 0.5s ease-out;
  background-color: #395b64;
}

header .kontainer.headers {
  height: 10vh;
  justify-content: space-between;
  align-items: center;
  display: flex;
  padding: 0 1.5rem 0 3rem;
}

nav li {
  list-style-type: none;
  display: inline-flex;
  margin: 0.5rem;
  font-size: 1rem;
}

ul li a {
  cursor: pointer;
  transition: 0.5s ease-out;
  font-weight: bolder;
}

ul li a:hover {
  color: white;
  text-shadow: 0 0 10px #fff;
  letter-spacing: 1px;
}

.hamburger {
  cursor: pointer;
}

span {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #e7f6f2;
}

main {
  height: 200vh;
  background-color: #2c3333;
}

@media screen and (max-width: 762px) {
  header .kontainer.headers {
    height: 10vh;
    font-size: 0.7rem;
  }

  .logo h1 {
    text-decoration: underline;
  }

  nav li a {
    margin-top: 3px;
    font-size: 0.7rem;
  }

  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  ul {
    margin-top: 15px;
    display: flex;
    position: fixed;
    left: -100%;
    top: 70px;
    flex-direction: column;
    background-color: transparent;
    width: 100%;
    text-align: center;
    transition: 0.5s;
    z-index: auto;
    opacity: 0;
  }

  li {
    margin: 16px 0;
  }

  ul.active {
    opacity: 1;
    left: 0;
  }

  ul.sticky {
    background-color: #395b64;
  }
}

@keyframes animasiMasuk {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
